@charset "utf-8";

.dlb-blocks {
	margin: 30px 0;
	padding: 30px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.dlb-lists {
	margin: 10px;
}

@media (min-width: 48em) {
	.dlb-lists {
		margin: 30px;
	}
}

.dlb-list {
	margin: 20px 0;
}

.dlb-list__blockname {
	display: inline-block;
	margin-top: 10px;
}

.dlb-list__classname {
	font-size: 15px;
	margin-bottom: 10px;
}

.dlb-list__classname__rje {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.block-name-accordion {
	margin-bottom: calc(var(--_space, 1.76923rem)*1*var(--_margin-scale, 1));
}

.block-name__btn {
	width: 100%;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.64103;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 15px;
	background: #333;
	color: #fff;
	border: 1px solid #333;
	border-radius: 4px;
	transition: .3s ease-in-out;
}

@media (min-width: 64em) {
	.block-name__btn {
		font-size: 1.5rem;
		line-height: 1.51282;
	}
}

.block-name__btn:hover {
	background: #fff;
	color: #333;
	cursor: pointer;
}

.state__panel {
	font-size: 1rem;
	font-weight: normal;
}

.block-name__panel {
	overflow: hidden;
	box-sizing: border-box;
	transition: 2s ease-in-out;
}

.block-name__panel.closed {
	height: 0;
}

.block-name__panel.opened {
	height: auto;
}
