@charset "utf-8";

.dlb-blocks {
	margin: 30px 0;
	padding: 30px;
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.dlb-lists {
	margin: 30px;
}

.dlb-list {
	margin: 20px 0;
}

.dlb-list__blockname {
	display: inline-block;
	margin-top: 10px;
}

.dlb-list__classname {
	font-size: 15px;
	margin-bottom: 10px;
}

.dlb-list__classname__rje {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.block-name-accordion {
	margin-bottom: calc(var(--_space, 1.76923rem)*1*var(--_margin-scale, 1));
}

.block-name__btn[type=checkbox] {
	display: none;
}

.block-name__btn + label {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 15px;
	background: #333;
	color: #fff;
	border: 1px solid #333;
	border-radius: 4px;
	transition: .3s ease-in-out;
}

.block-name__btn + label:hover {
	background: #fff;
	color: #333;
}

.block-name__panel {
	overflow: hidden;
	height: 0;
	box-sizing: border-box;
	transition: 2s ease-in-out;
}

.block-name__btn[type=checkbox]:checked + label + .block-name__panel {
	height: auto;
}
